<div class="row about-content">
    <div class="col-md-6 col-sm-12 about-left">
      <img id="kasper-picture" src="img/kasper-rust.png" alt="Image of Kasper" />
    </div>
    <div class="col-md-6 col-sm-12 about-right">
        <div class="statement">
            As a recent graduate from Aarhus University with a cand.scient degree in IT product development I seek to create bridges between the digital and physical worlds.
            Wether it be through the well established interfaces of today or the interfaces of tomorrow, I push towards rich, meaningful, and beautiful experiences and
            interactions with the world as I believe that these qualities are what distinguishes great IT products from good and mediocre ones.
            I believe in developing with users at the centre by incorporating them as a vital part of the design process. I also believe in agile development processes
            in close relation with stakeholders, where you don’t always end up with the result that you intially envisioned.
        </div>
      <div>
        <h4>Skills</h4>
          <ul class="list-unstyled">
            <li class="skills-list-item">Programming</li>
            <li class="skills-list-item">Interaction design</li>
            <li class="skills-list-item">Physical design</li>
            <li class="skills-list-item">Prototyping</li>
            <li class="skills-list-item">Agile development</li>
            <li class="skills-list-item">Participartory design</li>
            <li class="skills-list-item">Project management</li>
            <li class="skills-list-item">Innovation processes</li>
            <li class="skills-list-item">User experience design</li>
        </ul>
      </div>
    </div>
</div>
