<div class="row about-content">
    <div class="col-md-4 col-sm-12 about-left">
      <img id="kasper-picture" src="img/kasper-rust.png" alt="Image of Kasper" />
    </div>
    <div class="col-md-8 col-sm-12 about-right">
        <div class="statement">
            I seek to create bridges between the digital and physical worlds.
            Wether it be through the well established interfaces of today or the interfaces of tomorrow, I push towards rich, meaningful, and beautiful experiences and
            interactions with the world as I believe that these qualities are what distinguishes great IT products from good and mediocre ones.
            I believe in developing with users at the centre by incorporating them as a vital part of the design process. I also believe in agile development processes
            in close relation with stakeholders, where you don’t always end up with the result that you intially envisioned.
        </div>
        <div class="row">
            <ul class="list-unstyled files">
                <li><a href="files/cv.pdf" target="_blank">
                    <figure class="file">
                        <img src="img/pdf-icon.svg" alt="" />
                        <figcaption>CV</figcaption>
                    </figure>
                </a></li>
                <li><a href="files/thesis-kasper-jan-2016.pdf" target="_blank">
                    <figure class="file">
                        <img src="img/pdf-icon.svg" alt="" />
                        <figcaption>Thesis</figcaption>
                    </figure>
                </a></li>
            </ul>
        </div>
    </div>
</div>
