// mixins
@mixin respond-to($query, $val: 'max-width') {
  @media ($val: $query) {
    @content
  }
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin filter($args...) {
  -webkit-filter: $args;
  -moz-filter: $args;
  -ms-filter: $args;
  -o-filter: $args;
  filter: $args;
}

// VARIABLES

// colors
$header-color: lighten(#000000, 40%);
$main-color: #38C5FF; // light blue
// $main-color: #199EFF; // light blue
// $main-color: #D03958; // Dano Red
// $seconday-color: #E3D5B8; //Danelectro Beige
$seconday-color: #FFF; //White
// $tertiary-color: #69D2E7; // Dano Aqua
$tertiary-color: #FFFF00; // Dano Aqua
$grey: #f5f5f5;

// start

html, body {
    width: 100%;
}

body {
    height: 100%;
    font-size: 16px;
    @include respond-to(1024px) {
        font-size: 14px;
    };
}

#load-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-color: $main-color;
    z-index: 1000;
    opacity: 1;
    pointer-events: none;
}

#load-overlay-white {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-color: white;
    z-index: 1000;
    opacity: 1;
    pointer-events: none;
}

h2 {
  margin-bottom: 50px;
  text-align: center;
  color: $header-color;
  font-size: 3.5em;
  font-weight: lighter;
}

h3 {
  color: $header-color;
  font-size: 2.5em;
  font-weight: lighter;
  text-align: center;
}

.intro {
  height: 100vh;
  background-color: $main-color;
}

.footer {
  text-align: center;
  background-color: $grey;
  height: 50px;
  padding: 8px;
  margin-top: 20px;
}

.links-bar {
  float: right;
  margin-top: 50px;
}

.social-list {
  li {
    display: inline;
    padding: 12px;
    img {
      height: 30px;
      @include transition(all .3s);
      overflow: hidden;
      &:hover {
        transform: scale(1.2);
        @include transition(all .3s);
      }
    }
  }
}

.description-container {
  margin-top: 5%;
  h1 {
    font-size: 5em;
    color: $seconday-color;
    @include respond-to(1280px) {
      font-size: 4em;
    };
    @include respond-to(414px) {
      font-size: 3.3em;
    };
    @include respond-to(375px) {
      font-size: 2.5em;
    };
    @include respond-to(320px) {
      font-size: 1.8em;
    };
    strong {
      color: $tertiary-color;
    }
  }
}

.portfolio-guide {
  position: absolute;
  width: 100%;
  bottom: 25%;
  margin: 0 auto;
  left: 0;
  right: 0;
  // text-align: center;
  h3 {
    color: white;
    font-size: 2.5em;
    font-weight: lighter;
    @include respond-to(414px) {
      font-size: 2em;
      font-weight: 200;
    };
    @include respond-to(375px) {
      font-size: 1.7em;
    };
  }
}

.extra-info {
  text-align: center;
  .extra-info-part-container {
      opacity: 0;
      h3 {
        margin-bottom: 30px;
      }
  }
}

.portfolio-scroll-button-container {
  position: absolute;
  bottom: 8%;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  img {
    height: 130px;
    @include respond-to(414px) {
        height: 90px;
        bottom: 5%;
    }
    @include transition(all .3s);
    &:hover {
      transform: scale(1.2);
      @include transition(all .3s);
      cursor: pointer;
    }
  }
}

.projects-container {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    #projects {
        align-self: center;
    }
}

.projects-container:after,
.projects-container:before {
    display: table;
    content: " ";
    clear: both;
}

.project-image {

    margin: 15px 0;
    width: 100%;
    opacity: 0;
    position: relative;
    -webkit-transform: translateZ(0);
    &:hover {
        cursor: pointer;
        .overlay {
            top: 0%;
        }
        h3 {
            top: 10%;
            opacity: 1;
        }
        ul {
            opacity: 1;
            top: 30%;
        }
        img {
            opacity: 0;
        }
    }
    h3 {
        font-size: 2em;
        color: black;
        position: absolute;
        top: -20%;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        opacity: 0;
        @include transition(all .1s ease);
        z-index: 2;
    }
    ul {
        position: absolute;
        padding: 0 10px;
        left: 0;
        right: 0;
        top: 50%;
        z-index: 2;
        text-align: justify;
        opacity: 0;
        @include transition(all .1s ease);
        li {
            display: inline-block;
            margin: 5px 10px;
            color: $main-color;
            font-size: 0.9em;
        }
    }
    img {
        width: 100%;
        height: 100%;
        @include transition(all .3s ease);
        z-index: 0;
    }
}

.about-container {
  margin-top: 30px;
  background-color: #FFF;
  h4 {
    text-align: center;
    font-size: 2em;
    margin: 20px 0;
  }
  #kasper-picture {
    display: block;
    margin: 0 auto 50px auto;
    height: 300px;
    border-radius: 50%;
    border: 3px solid black;
  }
  p {
    margin: 0 auto 50px auto;
  }
}

.about-content {
  position: relative;
  .about-left {
      opacity: 0;
      left: -50px;
      @include respond-to(1280px) {
          left: 0;
      };
  }
  .about-right {
      opacity: 0;
      right: -50px;
      @include respond-to(1280px) {
          right: 0;
      };
  }
  .statement {
      text-align: justify;
  }
  .file-container {
      text-align: center;

  }
  .files {
      text-align: center;
      a {
          &:hover {
              text-decoration: none;
          }
      }
      li {
          display: inline-block;
          margin: 40px 70px 0;
          @include respond-to(420px) {
              margin: 40px 30px;
          };
      }
      .file {
          opacity: 0.7;
          text-align: center;
          @include transition(all .2s);
          img {
              height: 100px;
          }
          figcaption {
              margin-top: 5px;
              color: black;
          }
          @include respond-to(1025px, 'min-width') {
              &:hover {
                  border-bottom: 3px solid $main-color;
                  padding-bottom: 8px;
                  opacity: 1;
                  transform: translateY(-8px);
              }
          };
      }
  }
}

.skills-list-item {
  margin: 3px;
  padding: 10px 15px;
  background-color: $grey;
  display: inline-block;
}

.project-container {
    img {
        width: 100%;
        overflow: hidden;
    }
    .tags {
        margin-top: 20px;
        @include respond-to(1200px, 'min-width') {
            margin-top: 72px;
        };
    }
}

.slideshow {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

// Front page typing animation

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

// override angular-loading-bar

#loading-bar .bar {
  background-color: #FFFF00;
  height: 5px;
}
#loading-bar-spinner .spinner-icon {
  border-top-color:  #FFFF00;
  border-left-color: #FFFF00;
}
