<h2>{{pfProjectCtrl.currentProject.name}}</h2>
<div class="container project-container">
    <!-- <a href="/#/">back</a> -->
    <div ng-include="'partials/portfolio/project/pf-project-image-carousel.html'"></div>
    <div class="row">
        <div ng-include="'partials/portfolio/project/pf-project-brief.html'"></div>
        <div ng-include="'partials/portfolio/project/pf-project-concept.html'"></div>
    </div>
    <div class="row">
        <div ng-include="'partials/portfolio/project/pf-project-prototype.html'"></div>
        <div ng-include="'partials/portfolio/project/pf-project-skills.html'"></div>
    </div>
</div>
