<div id="load-overlay-white" pf-load></div>
<h2>{{pfProjectCtrl.currentProject.name}}</h2>
<div class="container project-container">
    <a href="/#/">back</a>
    <div class="slideshow">
        <!-- <img class="slick-prev" src="img/ui/prev.png" alt="" />
        <img class="slick-next" src="img/ui/next.png" alt="" /> -->
        <!-- <button type="button" class="slick-prev">Previous</button>
        <button type="button" class="slick-next">Next</button> -->
        <slick dots=true autoplay=true autoplay-speed=4000 ng-if="pfProjectCtrl.currentProject.images.length">
        <!-- <slick init-onload=true data="pfProjectCtrl.currentProject.images"> -->
            <div ng-repeat="image in pfProjectCtrl.currentProject.images">
                <img ng-src="{{image}}" alt="" />
            </div>
        </slick>
    </div>

    <div class="row">
        <div ng-include="'partials/portfolio/project/pf-project-brief.html'"></div>
        <div ng-include="'partials/portfolio/project/pf-project-concept.html'"></div>
    </div>
    <div class="row">
        <div ng-include="'partials/portfolio/project/pf-project-prototype.html'"></div>
        <div ng-include="'partials/portfolio/project/pf-project-skills.html'"></div>
    </div>
</div>
