<div id="load-overlay-white" pf-load></div>
<h2>{{pfProjectCtrl.currentProject.name}}</h2>
<div class="container project-container">
    <!-- <a href="/#/">back</a> -->
    <div class="slideshow">
        <slick fade=true speed=1000 dots=true autoplay=true autoplay-speed=4000 ng-if="pfProjectCtrl.currentProject.images.length">
            <div ng-repeat="image in pfProjectCtrl.currentProject.images">
                <img ng-src="{{image}}" alt="project image" />
            </div>
        </slick>
    </div>
    <div ng-include="'partials/portfolio/project/pf-project-skills.html'"></div>
    <div class="row">
        <div ng-include="'partials/portfolio/project/pf-project-concept.html'"></div>
        <div ng-include="'partials/portfolio/project/pf-project-prototype.html'"></div>
    </div>
</div>
