/* line 29, ../sass/style.scss */
html, body {
  width: 100%;
}

/* line 33, ../sass/style.scss */
body {
  height: 100%;
  font-size: 16px;
}
@media (max-width: 1024px) {
  /* line 33, ../sass/style.scss */
  body {
    font-size: 14px;
  }
}

/* line 41, ../sass/style.scss */
#load-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  background-color: #38C5FF;
  z-index: 1000;
  opacity: 1;
  pointer-events: none;
}

/* line 52, ../sass/style.scss */
#load-overlay-white {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  background-color: white;
  z-index: 1000;
  opacity: 1;
  pointer-events: none;
}

/* line 63, ../sass/style.scss */
h2 {
  margin-bottom: 50px;
  text-align: center;
  color: #666666;
  font-size: 3.5em;
  font-weight: lighter;
}

/* line 71, ../sass/style.scss */
h3 {
  color: #666666;
  font-size: 2.5em;
  font-weight: lighter;
  text-align: center;
}

/* line 78, ../sass/style.scss */
.intro {
  height: 100vh;
  background-color: #38C5FF;
}

/* line 83, ../sass/style.scss */
.footer {
  text-align: center;
  background-color: #f5f5f5;
  height: 50px;
  padding: 8px;
  margin-top: 20px;
}

/* line 95, ../sass/style.scss */
.links-bar {
  float: right;
  margin-top: 50px;
}

/* line 101, ../sass/style.scss */
.social-list li {
  display: inline;
  padding: 12px;
}
/* line 104, ../sass/style.scss */
.social-list li img {
  height: 30px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
}
/* line 108, ../sass/style.scss */
.social-list li img:hover {
  transform: scale(1.2);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 116, ../sass/style.scss */
.description-container {
  margin-top: 5%;
}
/* line 118, ../sass/style.scss */
.description-container h1 {
  font-size: 5em;
  color: #FFF;
}
@media (max-width: 1280px) {
  /* line 118, ../sass/style.scss */
  .description-container h1 {
    font-size: 4em;
  }
}
@media (max-width: 414px) {
  /* line 118, ../sass/style.scss */
  .description-container h1 {
    font-size: 3.3em;
  }
}
@media (max-width: 375px) {
  /* line 118, ../sass/style.scss */
  .description-container h1 {
    font-size: 2.5em;
  }
}
@media (max-width: 320px) {
  /* line 118, ../sass/style.scss */
  .description-container h1 {
    font-size: 1.8em;
  }
}
/* line 133, ../sass/style.scss */
.description-container h1 strong {
  color: #FFFF00;
}

/* line 139, ../sass/style.scss */
.portfolio-guide {
  position: absolute;
  width: 100%;
  bottom: 25%;
  margin: 0 auto;
  left: 0;
  right: 0;
}
/* line 147, ../sass/style.scss */
.portfolio-guide h3 {
  color: white;
  font-size: 2.5em;
  font-weight: lighter;
}
@media (max-width: 414px) {
  /* line 147, ../sass/style.scss */
  .portfolio-guide h3 {
    font-size: 2em;
    font-weight: 200;
  }
}
@media (max-width: 375px) {
  /* line 147, ../sass/style.scss */
  .portfolio-guide h3 {
    font-size: 1.7em;
  }
}

/* line 161, ../sass/style.scss */
.extra-info {
  text-align: center;
}
/* line 163, ../sass/style.scss */
.extra-info .extra-info-part-container {
  opacity: 0;
}
/* line 165, ../sass/style.scss */
.extra-info .extra-info-part-container h3 {
  margin-bottom: 30px;
}

/* line 171, ../sass/style.scss */
.portfolio-scroll-button-container {
  position: absolute;
  bottom: 8%;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}
/* line 178, ../sass/style.scss */
.portfolio-scroll-button-container img {
  height: 130px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 414px) {
  /* line 178, ../sass/style.scss */
  .portfolio-scroll-button-container img {
    height: 90px;
    bottom: 5%;
  }
}
/* line 185, ../sass/style.scss */
.portfolio-scroll-button-container img:hover {
  transform: scale(1.2);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

/* line 194, ../sass/style.scss */
.no-gutter [class*="-4"] {
  padding-right: 0;
  padding-left: 0;
}

/* line 200, ../sass/style.scss */
.project-image {
  opacity: 0;
  position: relative;
  top: -50px;
}
/* line 204, ../sass/style.scss */
.project-image img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 210, ../sass/style.scss */
.project-image img:hover {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 218, ../sass/style.scss */
.about-container {
  margin-top: 30px;
  background-color: #FFF;
}
/* line 221, ../sass/style.scss */
.about-container h4 {
  text-align: center;
  font-size: 2em;
  margin: 20px 0;
}
/* line 226, ../sass/style.scss */
.about-container #kasper-picture {
  display: block;
  margin: 0 auto 50px auto;
  height: 300px;
  border-radius: 50%;
  border: 3px solid black;
}
/* line 233, ../sass/style.scss */
.about-container p {
  margin: 0 auto 50px auto;
}

/* line 238, ../sass/style.scss */
.about-content {
  position: relative;
}
/* line 241, ../sass/style.scss */
.about-content .about-left {
  opacity: 0;
  left: -50px;
}
@media (max-width: 1280px) {
  /* line 241, ../sass/style.scss */
  .about-content .about-left {
    left: 0;
  }
}
/* line 248, ../sass/style.scss */
.about-content .about-right {
  opacity: 0;
  right: -50px;
}
@media (max-width: 1280px) {
  /* line 248, ../sass/style.scss */
  .about-content .about-right {
    right: 0;
  }
}

/* line 257, ../sass/style.scss */
.skills-list-item {
  margin: 3px 1px;
  padding: 10px 10px;
  border-radius: 7px;
  background-color: #f5f5f5;
  display: inline-block;
}

/* line 267, ../sass/style.scss */
.project-container img {
  width: 100%;
  overflow: hidden;
}

/* line 273, ../sass/style.scss */
.slideshow {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

/* line 280, ../sass/style.scss */
#prev {
  height: 10%;
  width: auto;
  position: absolute;
  top: 45%;
  bottom: 45%;
  left: -20px;
  z-index: 100;
  opacity: 0;
  margin: auto 15px;
}
@media (max-width: 414px) {
  /* line 280, ../sass/style.scss */
  #prev {
    display: none;
  }
}

/* line 294, ../sass/style.scss */
#next {
  height: 10%;
  width: auto;
  position: absolute;
  top: 45%;
  bottom: 45%;
  right: -20px;
  z-index: 100;
  opacity: 0;
  margin: auto 15px;
}
@media (max-width: 414px) {
  /* line 294, ../sass/style.scss */
  #next {
    display: none;
  }
}

/* line 311, ../sass/style.scss */
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  /* line 318, ../sass/style.scss */
  0% {
    opacity: 1;
  }

  /* line 319, ../sass/style.scss */
  50% {
    opacity: 0;
  }

  /* line 320, ../sass/style.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  /* line 323, ../sass/style.scss */
  0% {
    opacity: 1;
  }

  /* line 324, ../sass/style.scss */
  50% {
    opacity: 0;
  }

  /* line 325, ../sass/style.scss */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  /* line 328, ../sass/style.scss */
  0% {
    opacity: 1;
  }

  /* line 329, ../sass/style.scss */
  50% {
    opacity: 0;
  }

  /* line 330, ../sass/style.scss */
  100% {
    opacity: 1;
  }
}

/* line 335, ../sass/style.scss */
#loading-bar .bar {
  background-color: #FFFF00;
  height: 5px;
}

/* line 339, ../sass/style.scss */
#loading-bar-spinner .spinner-icon {
  border-top-color: #FFFF00;
  border-left-color: #FFFF00;
}
