/* line 39, ../sass/style.scss */
html, body {
  width: 100%;
}

/* line 43, ../sass/style.scss */
body {
  height: 100%;
  font-size: 16px;
}
@media (max-width: 1024px) {
  /* line 43, ../sass/style.scss */
  body {
    font-size: 14px;
  }
}

/* line 51, ../sass/style.scss */
#load-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  background-color: #38c5ff;
  z-index: 1000;
  opacity: 1;
  pointer-events: none;
}

/* line 62, ../sass/style.scss */
#load-overlay-white {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  background-color: white;
  z-index: 1000;
  opacity: 1;
  pointer-events: none;
}

/* line 73, ../sass/style.scss */
h2 {
  margin-bottom: 50px;
  text-align: center;
  color: #666666;
  font-size: 3.5em;
  font-weight: lighter;
}

/* line 81, ../sass/style.scss */
h3 {
  color: #666666;
  font-size: 2.5em;
  font-weight: lighter;
  text-align: center;
}

/* line 88, ../sass/style.scss */
.intro {
  height: 100vh;
  background-color: #38c5ff;
}

/* line 93, ../sass/style.scss */
.footer {
  text-align: center;
  background-color: whitesmoke;
  height: 50px;
  padding: 8px;
  margin-top: 20px;
}

/* line 101, ../sass/style.scss */
.links-bar {
  float: right;
  margin-top: 50px;
}

/* line 107, ../sass/style.scss */
.social-list li {
  display: inline;
  padding: 12px;
}
/* line 110, ../sass/style.scss */
.social-list li img {
  height: 30px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
}
/* line 114, ../sass/style.scss */
.social-list li img:hover {
  transform: scale(1.2);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 122, ../sass/style.scss */
.description-container {
  margin-top: 5%;
}
/* line 124, ../sass/style.scss */
.description-container h1 {
  font-size: 5em;
  color: white;
}
@media (max-width: 1280px) {
  /* line 124, ../sass/style.scss */
  .description-container h1 {
    font-size: 4em;
  }
}
@media (max-width: 414px) {
  /* line 124, ../sass/style.scss */
  .description-container h1 {
    font-size: 3.3em;
  }
}
@media (max-width: 375px) {
  /* line 124, ../sass/style.scss */
  .description-container h1 {
    font-size: 2.5em;
  }
}
@media (max-width: 320px) {
  /* line 124, ../sass/style.scss */
  .description-container h1 {
    font-size: 1.8em;
  }
}
/* line 139, ../sass/style.scss */
.description-container h1 strong {
  color: yellow;
}

/* line 145, ../sass/style.scss */
.portfolio-guide {
  position: absolute;
  width: 100%;
  bottom: 25%;
  margin: 0 auto;
  left: 0;
  right: 0;
}
/* line 153, ../sass/style.scss */
.portfolio-guide h3 {
  color: white;
  font-size: 2.5em;
  font-weight: lighter;
}
@media (max-width: 414px) {
  /* line 153, ../sass/style.scss */
  .portfolio-guide h3 {
    font-size: 2em;
    font-weight: 200;
  }
}
@media (max-width: 375px) {
  /* line 153, ../sass/style.scss */
  .portfolio-guide h3 {
    font-size: 1.7em;
  }
}

/* line 167, ../sass/style.scss */
.extra-info {
  text-align: center;
}
/* line 169, ../sass/style.scss */
.extra-info .extra-info-part-container {
  opacity: 0;
}
/* line 171, ../sass/style.scss */
.extra-info .extra-info-part-container h3 {
  margin-bottom: 30px;
}

/* line 177, ../sass/style.scss */
.portfolio-scroll-button-container {
  position: absolute;
  bottom: 8%;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}
/* line 184, ../sass/style.scss */
.portfolio-scroll-button-container img {
  height: 130px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 414px) {
  /* line 184, ../sass/style.scss */
  .portfolio-scroll-button-container img {
    height: 90px;
    bottom: 5%;
  }
}
/* line 191, ../sass/style.scss */
.portfolio-scroll-button-container img:hover {
  transform: scale(1.2);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

/* line 199, ../sass/style.scss */
.projects-container {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}
/* line 203, ../sass/style.scss */
.projects-container #projects {
  align-self: center;
}

/* line 209, ../sass/style.scss */
.projects-container:after,
.projects-container:before {
  display: table;
  content: " ";
  clear: both;
}

/* line 215, ../sass/style.scss */
.project-image {
  margin: 15px 0;
  width: 100%;
  opacity: 0;
  position: relative;
  -webkit-transform: translateZ(0);
}
/* line 221, ../sass/style.scss */
.project-image:hover {
  cursor: pointer;
}
/* line 223, ../sass/style.scss */
.project-image:hover .overlay {
  top: 0%;
}
/* line 226, ../sass/style.scss */
.project-image:hover h3 {
  top: 10%;
  opacity: 1;
  -webkit-transition: all 0.1s ease 0.1s;
  -moz-transition: all 0.1s ease 0.1s;
  -ms-transition: all 0.1s ease 0.1s;
  -o-transition: all 0.1s ease 0.1s;
  transition: all 0.1s ease 0.1s;
}
/* line 231, ../sass/style.scss */
.project-image:hover ul {
  opacity: 1;
  top: 30%;
  -webkit-transition: all 0.1s ease 0.1s;
  -moz-transition: all 0.1s ease 0.1s;
  -ms-transition: all 0.1s ease 0.1s;
  -o-transition: all 0.1s ease 0.1s;
  transition: all 0.1s ease 0.1s;
}
/* line 236, ../sass/style.scss */
.project-image:hover img {
  opacity: 0;
}
/* line 240, ../sass/style.scss */
.project-image h3 {
  font-size: 2em;
  color: black;
  position: absolute;
  top: -20%;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  z-index: 2;
}
/* line 253, ../sass/style.scss */
.project-image ul {
  position: absolute;
  padding: 0 10px;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 2;
  text-align: justify;
  opacity: 0;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
/* line 263, ../sass/style.scss */
.project-image ul li {
  display: inline-block;
  margin: 5px 10px;
  color: #38c5ff;
  font-size: 0.9em;
}
@media (max-width: 1200px) {
  /* line 263, ../sass/style.scss */
  .project-image ul li {
    font-size: 0.8em;
  }
}
@media (max-width: 992px) {
  /* line 263, ../sass/style.scss */
  .project-image ul li {
    font-size: 0.9em;
  }
}
/* line 276, ../sass/style.scss */
.project-image img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 0;
}

/* line 284, ../sass/style.scss */
.about-container {
  margin-top: 30px;
  background-color: #FFF;
}
/* line 287, ../sass/style.scss */
.about-container h4 {
  text-align: center;
  font-size: 2em;
  margin: 20px 0;
}
/* line 292, ../sass/style.scss */
.about-container #kasper-picture {
  display: block;
  margin: 0 auto 50px auto;
  height: 300px;
  border-radius: 50%;
  border: 3px solid black;
}
/* line 299, ../sass/style.scss */
.about-container p {
  margin: 0 auto 50px auto;
}

/* line 304, ../sass/style.scss */
.about-content {
  position: relative;
}
/* line 306, ../sass/style.scss */
.about-content .about-left {
  opacity: 0;
  left: -50px;
}
@media (max-width: 1280px) {
  /* line 306, ../sass/style.scss */
  .about-content .about-left {
    left: 0;
  }
}
/* line 313, ../sass/style.scss */
.about-content .about-right {
  opacity: 0;
  right: -50px;
}
@media (max-width: 1280px) {
  /* line 313, ../sass/style.scss */
  .about-content .about-right {
    right: 0;
  }
}
/* line 320, ../sass/style.scss */
.about-content .statement {
  text-align: justify;
}
/* line 323, ../sass/style.scss */
.about-content .file-container {
  text-align: center;
}
/* line 327, ../sass/style.scss */
.about-content .files {
  text-align: center;
}
/* line 330, ../sass/style.scss */
.about-content .files a:hover {
  text-decoration: none;
}
/* line 334, ../sass/style.scss */
.about-content .files li {
  display: inline-block;
  margin: 40px 70px 0;
}
@media (max-width: 420px) {
  /* line 334, ../sass/style.scss */
  .about-content .files li {
    margin: 40px 30px;
  }
}
/* line 341, ../sass/style.scss */
.about-content .files .file {
  opacity: 0.7;
  text-align: center;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 345, ../sass/style.scss */
.about-content .files .file img {
  height: 100px;
}
/* line 348, ../sass/style.scss */
.about-content .files .file figcaption {
  margin-top: 5px;
  color: black;
}
@media (min-width: 1025px) {
  /* line 353, ../sass/style.scss */
  .about-content .files .file:hover {
    border-bottom: 3px solid #38c5ff;
    padding-bottom: 8px;
    opacity: 1;
    transform: translateY(-8px);
  }
}

/* line 364, ../sass/style.scss */
.skills-list-item {
  margin: 3px;
  padding: 10px 15px;
  background-color: whitesmoke;
  display: inline-block;
}

/* line 372, ../sass/style.scss */
.project-container .video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
/* line 376, ../sass/style.scss */
.project-container .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 384, ../sass/style.scss */
.project-container img {
  width: 100%;
  overflow: hidden;
}
/* line 388, ../sass/style.scss */
.project-container .tags {
  margin-top: 20px;
}
@media (min-width: 1200px) {
  /* line 388, ../sass/style.scss */
  .project-container .tags {
    margin-top: 72px;
  }
}

/* line 396, ../sass/style.scss */
.slideshow {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

/* line 405, ../sass/style.scss */
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  /* line 412, ../sass/style.scss */
  0% {
    opacity: 1;
  }

  /* line 413, ../sass/style.scss */
  50% {
    opacity: 0;
  }

  /* line 414, ../sass/style.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  /* line 417, ../sass/style.scss */
  0% {
    opacity: 1;
  }

  /* line 418, ../sass/style.scss */
  50% {
    opacity: 0;
  }

  /* line 419, ../sass/style.scss */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  /* line 422, ../sass/style.scss */
  0% {
    opacity: 1;
  }

  /* line 423, ../sass/style.scss */
  50% {
    opacity: 0;
  }

  /* line 424, ../sass/style.scss */
  100% {
    opacity: 1;
  }
}

/* line 429, ../sass/style.scss */
#loading-bar .bar {
  background-color: #FFFF00;
  height: 5px;
}

/* line 433, ../sass/style.scss */
#loading-bar-spinner .spinner-icon {
  border-top-color: #FFFF00;
  border-left-color: #FFFF00;
}
